/* /Users/matthewheaton/Documents/GitHub/ten_tremors/src/styles/global.css */

body {
    background-color: #808080;
    font-family: 'Times New Roman', Times, serif;
    overflow-y: hidden;
}

a {
    color: #ffffff;
    /* text-decoration: none; */
}

.bg-black {
    background-color: #808080;
}

.text-white {
    color: #ffffff;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.w-full {
    width: 100%;
}

.bg-gray-900 {
    background-color: #1a1a1a;
}

.text-center {
    text-align: center;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.text-5xl {
    font-size: 3rem;
}

.font-bold {
    font-weight: bold;
}

.justify-center {
    justify-content: center;
}

.gap-8 {
    gap: 2rem;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text-lg {
    font-size: 1.125rem;
}

.font-semibold {
    font-weight: 600;
}

.hover\:underline:hover {
    text-decoration: underline;
}

.mb-8 {
    margin-bottom: 2rem;
}

.w-1\/2 {
    width: 50%;
}