---
import CollectionLayout from '../layouts/boilerplate.astro';
const pageTitle = 'info';
---

<html>
  <body>
    <CollectionLayout title={pageTitle}>

    <p>Ten Tremors is a collective of experimental musicians, writers, video artists, printmakers, & computational designers.</p>

    <p>Our geographic center of mass is in New York, New York.</p>

    <p>@tentremors // tentremors at gmail dot com</p>
    
  </body>
</html>
  </CollectionLayout>