<body>
    <a href="/">home</a>
    <a href="/about/">about</a>
    <a href="/artists/">artists</a>
    <a href="/releases/">releases</a>
    <a href="/artefacts/">artefacts</a> 
    <a href="/projects/">projects</a>  
    <br>
    <p>Lorem ipsum etc</p>
</body>