---
import CollectionLayout from '../layouts/boilerplate.astro';
import ImageScatter from '../components/imageScatter.astro';
// import { Image } from 'astro:assets';
// import stamps from '../images/stamps.png';
const pageTitle = 'home';
---
<style>
  html, body {
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .page-fill {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 0;
  }

  div {
    /* padding: 1rem; */
  }
  
  img {
    position: absolute;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    transform-origin: 100% -25%;
    z-index: -1;
  }

  img:hover {
    /* transform: scale(1.1); */
  }

  @media (max-width: 768px) {
    img {
      scale: 200%;
    }
  }

  @media (max-width: 480px) {
    img {
      scale: 200%;
    }
  }
</style>

<CollectionLayout title={pageTitle}>
  <body>
    <div class="container">
      <div class="page-fill">
        <ImageScatter alt="ten tremors logos"/>
      </div>
    </div>
  </body>
</CollectionLayout>

