---
import CollectionLayout from '../layouts/boilerplate.astro';
import { Image } from 'astro:assets';
import stamps from '../images/stamps.png';
const pageTitle = 'home';
---
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    width: 66.6%;
    height: auto;
    /* filter: drop-shadow(0rem 0rem 0.25rem rgba(231, 231, 231, 0.709)); */
  }

</style>

<CollectionLayout title={pageTitle}>

<body>
  <div class="container">
    <Image src={stamps} alt="tentremors logo">
  </div>
  <div class="container">
    <p>our home is under construction</p>
    <p>bless this mess</p>
  </div>
</body>
</CollectionLayout>
