---
import CollectionLayout from '../layouts/boilerplate.astro';
import { Image } from 'astro:assets';
import stamps from '../images/stamps.png';
const pageTitle = 'home';
---
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div {
    /* padding: 1rem; */
  }
  
  img {
    position: absolute;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    transform-origin: 100% -25%;
    z-index: -1;
  }

  img:hover {
    /* transform: scale(1.1); */
  }

  @media (max-width: 768px) {
    img {
      scale: 200%;
    }
  }

  @media (max-width: 480px) {
    img {
      scale: 200%;
    }
  }
</style>

<CollectionLayout title={pageTitle}>
  <body>
    <div class="container">
      <Image src={stamps} alt="tentremors logo">
    </div>
  </body>
</CollectionLayout>
