---
import CollectionLayout from '../../layouts/boilerplate.astro';
import { getCollection } from 'astro:content';
import CatalogGrid from '../../components/catalogCells.astro';
import ImageScatter from '../../components/imageScatter.astro';

// Fetch collections
const releases = await getCollection('releases');
const artefacts = await getCollection('artefacts');
const artists = await getCollection('artists');

// Ensure releases are sorted in reverse order based on catalog number
releases.sort((a, b) => {
  const numA = parseInt(a.data.catalogNo.replace(/\D/g, ""), 10);
  const numB = parseInt(b.data.catalogNo.replace(/\D/g, ""), 10);
  return numB - numA;
});

// Debug logs
// console.log("index.astro releases:", releases);
// console.log("index.astro artists:", artists);
// console.log("index.astro artefacts:", artefacts);

const pageTitle = 'Releases';
---

<CollectionLayout title={pageTitle}>
  <div class="releases-container">
    <div class="scatter-wrapper">
      <ImageScatter alt="ten tremors logos"/>
    </div>
    <CatalogGrid releases={releases} artists={artists} artefacts={artefacts} />
  </div>

  <style>
    .releases-container {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding-bottom: 2vh;
    }
    
    .scatter-wrapper {
      position: relative;
      width: 100%;
      margin-bottom: 2vh;
    }
  </style>
</CollectionLayout>
