---
import CollectionLayout from '../../layouts/boilerplate.astro';

const pageTitle = 'calendar';
---

<style>
  
  div {
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    max-width: 100%;
    height: 600px;
    text-align: justify;
    box-sizing: border-box;
  }
</style>

<html>
  <body>
    <CollectionLayout title={pageTitle}>

      {Array.from({ length: 13 }).map((_, index) => (
        <div>
          <ul>coming ...</ul>
        </div>
      ))}
      
  </body>
</html>
  </CollectionLayout>