---
import { getCollection } from 'astro:content';

const releases = (await getCollection('releases'))
  .sort((a, b) => {
    const numA = parseInt(a.data.catalogNo.replace(/\D/g, ""), 10);
    const numB = parseInt(b.data.catalogNo.replace(/\D/g, ""), 10);
    return numB - numA; // Descending order
  });

const artists = await getCollection('artists');
const artefacts = await getCollection('artefacts');
---
<style>
  .catalog {
    width: 100%;
    padding: 2vw 2vw 2vw 0;
    margin: 0;
    box-sizing: border-box; 
  }

  .row {
    display: grid;
    grid-template-columns: 20% 25% 35% 15% 5%;
    padding: 1vh;
    align-items: center;
  }

  /* .row:first-child {
  } */

  .col {
    margin: 2vh;
    max-width: fit-content;
  }

  .catalog-no {
    /* font-weight: bold; */
    text-transform: uppercase;
  }

  .artist {
    text-align: justify;
  }

  .format {
    /* text-align: right; */
  }

  .year {
    text-align: right;
  }

  * {
    text-transform: lowercase;
  }

  @media (max-width: 1200px) {
    .row {
      grid-template-columns: 20% 25% 25% 25% 5%;
    }

    .col {
      margin: 1.5vh;
    }
  }


  @media (max-width: 480px) {

    .year {
      visibility: hidden;
    }
  }

</style>

<div class="catalog">
  {releases.length === 0 && <p>No releases found.</p>}
  
  {releases.map((release, index) => {
    const artist = release.data.artistId 
      ? artists.find(a => a.id === release.data.artistId) 
      : null;
    const artistName = artist ? artist.data.name : '';

    const releaseArtefacts = artefacts.filter(a => a.data.catalogNo === release.data.catalogNo);

    return (
      <>
        <div class={`row ${index % 2 === 0 ? 'row-even' : 'row-odd'} underline`}>
          <div class="col catalog-no">{release.data.catalogNo || "N/A"}</div>
          <div class="col artist">
            {artist ? <a href={`/artists/${artist.id}`}>{artistName}</a> : "-"}
          </div>
          <div class="col title">
            <a href={`/releases/${release.id}`}>{release.data.title || "Untitled"}</a>
          </div>
          <div class="col format">
            {releaseArtefacts.length > 0 
              ? releaseArtefacts.map((artefact, i) => (
              <>
                <a href={`/artefacts/${artefact.id}`}>
                  {artefact.data.format || "N/A"}
                </a>
                {i < releaseArtefacts.length - 1 && "&"}
              </>
              ))
              : "Digital"
            }
          </div>
          <div class="col year">{release.data.releaseDate ? new Date(release.data.releaseDate).getFullYear() : "Unknown"}</div>
        </div>
      </>
    );
  })}
</div>
