---
import Social from "./social.astro"
---
<style>
    body, html {
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow-x: hidden;
    }
    main {
        flex: 1;
    }

    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        list-style-type: none;
        padding-top: 5vh;
        margin-top: auto;
        box-sizing: border-box;
    }

    div {

        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    small {
        right: 50%;
        bottom: 0;
        padding-bottom: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    small p {
        font-style: italic;
    }

</style>

<footer class="bookend">
    <div>
        <ul>
            <a href="https://tentremors.bandcamp.com/">bandcamp</a>
            <Social platform="instagram" endpoint="tentremors" /> 
            <Social platform="ninaprotocol" endpoint="hubs/ten-tremors" />
        </ul>  
    </div>
    <div>
        <small>     
            <p>our home is under construction / bless this mess</p>
            <a href="/">&#169; 2025 ten tremors</a>
        </small>
    </div>
</footer>