---
import { Icon } from 'astro-icon/components'

const currentPath = new URL(Astro.request.url).pathname;
---

<style>
/* header {
} */

ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style-type: none;
}

a {
    /* padding: 0.5rem;
    margin: -0.25rem; */
}

/* div{
} */

[data-icon] {
    /* color: black; */
    /* filter: invert() drop-shadow(0 0 0.75rem rgb(255, 255, 255)); */
    mix-blend-mode: hard-light;
}
</style>

<header class="bookend border">
    <div>
        <ul>
            <a href="/"><Icon name="eyeLogo" /></a>
            {currentPath !== '/releases/' && <a href="/releases/">releases</a>}
            {currentPath !== '/about/' && <a href="/about/">info</a>}
            {currentPath !== '/projects/' && <a href="/projects/">projects</a>}
            {currentPath !== '/calendar/' && <a href="/calendar/">calendar</a>}
        </ul>
    </div>
</header>