---
import { getCollection } from 'astro:content';
import CollectionLayout from '../../layouts/boilerplate.astro';

const projects = await getCollection('projects');
const pageTitle = 'projects';
---

<CollectionLayout pageTitle={pageTitle}>

<div>
  <ul>coming ...</ul>
</div>

<!-- <div>
  <ul>
    {projects.map(project => (
      <p>
        <a href={`/projects/${project.id}`}>
          {project.data.title}
        </a>
      </p>
    ))}
  </ul>
</div> -->
</CollectionLayout>
