---
import { getCollection } from 'astro:content';
import CollectionLayout from '../../layouts/collectionLayout.astro';

const projects = await getCollection('projects');
const title = 'projects';
---

<CollectionLayout title={title}>
  <h1>affiliated projects</h1>
  <ul>
    {projects.map(project => (
      <p>
        <a href={`/projects/${project.id}`}>
          {project.data.title}
        </a>
      </p>
    ))}
  </ul>
</CollectionLayout>
