---
import { getCollection } from 'astro:content';

const artefacts = await getCollection('artefacts');
---

<html>
  <head><title>Artefacts</title></head>
  <body>
    <h1>Artefacts</h1>
    <div>
      {artefacts.map(artefact => (
        <div>
          <a href={`/artefacts/${artefact.id}`}>
            <img src={artefact.data.image} alt={artefact.data.item} width="100" />
            {artefact.data.item}
          </a>
        </div>
      ))}
    </div>
  </body>
</html>
