---
const { title } = Astro.props;
import Navigation from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <Navigation />
    <slot /> 
    <!-- page-specific content -->
    <Footer />
  </body>
</html>

